/* .faqContainer img{
    width: 500px;
} */

.faqSection{
    overflow: hidden;
    position: relative;
}

.faqSection h1{
    color: var(--blink-main);
    font-weight: 500;
    font-size: 33px;
    line-height: 114.5%;
    margin-bottom: 24px;
}

.faqSection .faqQuesContainer{
    position: relative ;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    padding: 200px 120px 70px;
}

.css-15v22id-MuiAccordionDetails-root {
    text-align: justify !important;
}

@media(max-width: 950px){
    .css-15v22id-MuiAccordionDetails-root {
        font-size: 13px !important;
    }

    .css-o4b71y-MuiAccordionSummary-content h3{
        font-size: 16px !important;
    }
}

@media(max-width: 870px){
    .faqSection .faqQuesContainer{
        padding: 200px 40px 70px;
    }

    .faqSection h1 {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
    }
}

@media(max-width: 450px){
    .css-15v22id-MuiAccordionDetails-root {
        font-size: 10px !important;
    }

    .css-o4b71y-MuiAccordionSummary-content h3{
        font-size: 13px !important;
    }
}