.resultsCarousel .result{
    /* width: 100px; */
    margin: 0 8px;
    text-align: center;
    transition: .3s;
    z-index: 10;
}

.background1{
    background-color: #DADAF5;
    border-radius: 16px;
}

.background2{
    background-color: #D7D7D7;
    border-radius: 16px;
}

/*Header*/
.resultsCarousel .check{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}

.resultsCarousel .header{
    height: 80px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.resultsCarousel .result img{
    width: 200px;
}

/*Info*/
.resultsCarousel .result .info{
    border-bottom: 1px solid var(--gris-blink);
    padding-bottom: 20px;
    height: 110px;
}

.resultsCarousel .info p{
    font-weight: 700;
    font-size: 20px;
    line-height: 114.5%;
    text-decoration: line-through;
}

/*Items*/
.resultsCarousel .benefitItem{
    height: 70px;
    border-bottom: 1px solid var(--gris-blink);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: var(--blink-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsCarousel .benefitItem:nth-child(18){
    border-bottom: none;
}

/*Pinned*/
.resultsCarousel .result.pinned{
    position: absolute;
    transform: translateX(0) !important;
    z-index: 20;
}

.pinFix{
    width: 0;
    display: none;
}

.pinFix.visible{
    /* width: 220px; */
    height: 100%;
    padding: 30px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8px;
    z-index: 0;
    border: 2px dashed var(--blink-main);
    background-color: rgba(71, 68, 204, 0.1);
    color: var(--gris-blink);
    border-radius: 16px;
    transition: .3s;
    font-weight: bold;
    font-size: 40px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

/*Button*/
.resultsCarousel .button{
    padding: 15px 0;
    height: 100px;
}

.resultsCarousel .primaryButton{
    padding: 15px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
}

@media(max-width: 1400px){
    .resultsCarousel .result img {
        width: 160px;
    }

    .resultsCarousel .benefitItem {
        font-size: 12px;
        height: 55px;
    }

    .resultsCarousel .info h4{
        font-size: 14px;
    }
}

@media(max-width: 1245px){
    .resultsCarousel .result img {
        width: 130px;
    }

    .resultsCarousel .header {
        height: 60px;
    }

    .resultsCarousel .result .info {
        height: 90px;
    }
}

@media(max-width: 1060px){
    .resultsCarousel .result img {
        width: 110px;
    }

    .resultsCarousel .info h4 {
        font-size: 12px;
    }

    .resultsCarousel .benefitItem {
        font-size: 10px;
        line-height: 10px;
    }

    .resultsCarousel .benefitItem {
        height: 40px;
    }

    .resultsCarousel .header {
        height: 50px;
    }

    .resultsCarousel .result .info {
        height: 70px;
    }
}