.workWithUs{
    display: flex;
    padding: 80px 120px;
}

.workWithUs .content{
    width: 50%;
    padding-right: 30px;
}

.workWithUs .form{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 30px;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}

.workWithUs h3{
    font-weight: 500;
    font-size: 33px;
    line-height: 114.5%;
    color: var(--blink-main);
}

.workWithUs .content p{
    font-weight: 400;
    font-size: 25.2px;
    line-height: 32px;
    color: var(--gris-blink);
    margin-top: 30px;
}

.workWithUs .formItem p{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--blink-main);
}

.workWithUs .formItem input{
    width: 100%;
    border: 1px solid var(--gris-blink);
    height: 50px;
    margin-top: 6px;
    border-radius: 12px;
    padding-left: 12px;
    background-color: #fff;
}

.workWithUs .formItem.errorInput input{
    border-color: red;
}

.workWithUs .formItem.formItem.errorInput p,
.workWithUs .formItem.formItem.errorInput input{
    color: red;
}

.workWithUs .formItem input:focus{
    border: 2px solid var(--blink-main);
}

.workWithUs .formItem.errorInput input:focus{
    border-color: red;
    color: red;
}

.workWithUs p.errorLabel{
    opacity: 0;
    color: red;
    font-weight: normal;
    font-size: 12px;
    transition: .5s;
    position: relative;
}

.workWithUs p.errorLabel.visible{
    opacity: 1;
}

.workWithUs .formItem input:active,
.workWithUs .formItem input:focus{
    outline: none;
}

.workWithUs .formItem:nth-child(5){
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}

.workWithUs .sendButton{
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal2-icon.swal2-info{
    border-color: var(--blink-main) !important;
}

.swal2-icon.swal2-info.swal2-icon-show{
    color: var(--blink-main) !important;
}