.principal .text-zone {
    margin-top: 50px;
    max-height: 90%;
    text-align: left;
    user-select: none;
}

.principal h1 span {
    font-size: 80px;
    line-height: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

.principal h1 span {
    color: var(--blink-main);
}

.principal .blast {
    opacity: 1;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    font-weight: 800;
    font-size: 90px;
    line-height: 98%;
}

.homeContainer .principal .blast {
    font-size: 80px;
}

.principal .blast:hover {
    color: #08FDD8;
}

@media (max-width: 1280px){
    .homeContainer .principal .blast,
    .principal .blast {
        font-size: 70px;
    }
}

@media (max-width: 1100px){
    .homeContainer .principal .blast,
    .principal .blast {
        font-size: 60px;
    }
}

@media (max-width: 950px){
    .principal h1{
        text-align: center;
    }
}

@media (max-width: 520px){
    .homeContainer .principal .blast,
    .principal .blast {
        font-size: 40px;
    }

    .principal .text-zone {
        margin-top: 20px;
    }

    .homeContainer .principal .blast-root{
        line-height: 40px;
    }
}

@media (max-width: 380px){
    .homeContainer .principal .blast,
    .principal .blast {
        font-size: 35px;
    }

    .principal .blast {
        line-height: 100%;
    }

    .principal .text-zone {
        margin-top: 20px;
    }

    .homeContainer .principal .blast-root{
        line-height: 35px;
    }
}

@media (max-width: 350px){
    .homeContainer .principal .blast,
    .principal .blast {
        font-size: 30px;
    }

    .homeContainer .principal .blast-root{
        line-height: 30px;
    }
}