.navbar{
    background-color: var(--blink-main);
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    color: #fff;
    position: fixed;
    z-index: 60;
    /* transition: .5s; */
}

.navbar.transparent{
    background: rgba(71, 68, 204, 0.8);
    backdrop-filter: blur(6px);
}

.navbar .menu{
    display: flex;
}

.navbar .menuItem{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin-left: 50px;
}

.navbar a{
    text-decoration: none;
}

.navbar .activeNavLink{
    color: var(--button-main);
}

.navbar .navLink{
    color: #fff;
}

.navbar .responsiveNavbarIcon{
    /* display: none; */
    font-size: 20px;
    /* padding-right: 20px; */
    transition: .3s;
}

.navbar .responsiveNavbarIcon.pressed{
    transform: rotate(180deg);
}

.navbar .responsiveNavbarButton{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: .3s;
}

.navbar .responsiveNavbarButton.unpressed{
    background: linear-gradient(145deg, #4c49da, #403db8);
    box-shadow:  4px 4px 8px #3c3aad,
             -4px -4px 8px #524eeb;
}

.navbar .responsiveNavbarButton.pressed{
    background: linear-gradient(145deg, #403db8, #4c49da);
    box-shadow:  4px 4px 8px #3c3aad,
                -4px -4px 8px #524eeb;
}

@media (max-width: 1280px){
    .navbar{
        padding: 0 80px;
    }

    .navbar .menuItem {
        margin-left: 30px;
    }
}

@media (max-width: 1100px){
    .navbar{
        padding: 0 70px;
    }
}

@media (max-width: 950px){
    .navbar .menuItem {
        margin-left: 20px;
        font-size: 13px;
    }
}

@media (max-width: 870px){
    .navbar{
        justify-content: center;
        height: fit-content;
        padding: 20px 30px;
    }

    .navbar .menu {
        display: none;
    }
}