.navbar{
    background-color: var(--blink-main);
    width: 100%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 120px;
    color: #fff;
    position: fixed;
    z-index: 60;
    transition: .5s;
}

.navbar.transparent{
    background-color: rgba(78,41,200,0.9);
}

.navbar .menu{
    display: flex;
}

.navbar .menuItem{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin: 0 26px;
}

.navbar a{
    text-decoration: none;
}

.navbar .activeNavLink{
    color: var(--button-main);
}

.navbar .navLink{
    color: #fff;
}