.filelabel {
    width: 100%;
    height: 50px;
    border: 2px solid var(--blink-main);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;
    margin: 0;
    transition: .3s;
}

.filelabel:hover{
    background-color: var(--blink-main);
}

.filelabel .fileIcon,
.filelabel .title {
    color: var(--blink-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.filelabel:hover .fileIcon,
.filelabel:hover .title{
    color: #fff;
}

.filelabel .fileIcon {
    font-size: 20px;
    margin: 0 8px;
}

#fileInput {
    display: none;
}