.results{
    padding-top: 105px;
    transition: .3s;
}

.resultsContainer{
    margin-bottom: 60px;
}

.resultsContainer .carouselContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0 20px;
    position: relative;
}

.resultsContainer .carouselContainer h3{
    margin: 25px 0;
    width: 100%;
    text-align: center;
}

.resultsContainer .carouselContainer span{
    color: var(--blink-main);
}

@media(max-width: 900px){
    .resultsContainer .carouselContainer {
        padding: 30px 20px;
    }
}

@media(max-width: 870px){
    .results{
        padding-top: 78px;
    }
}

@media(max-width: 815px){
    .results{
        padding-top: 78px;
        min-height: 800px;
    }

    .results.displayed{
        min-height: 1500px;
    }

    .resultsContainer{
        position: absolute;
        width: 100%;
        top: -700px;
        /* transform: translateY(-700px); */
        transition: .5s;
    }

    .resultsContainer.displayed{
        width: 100%;
        position: absolute;
        top: 78px;
    }
}

@media(max-width: 520px){
    .resultsContainer{
        top: -1130px;
    }

    .results {
        min-height: 720px;
    }

    .results.displayed{
        min-height: 1900px;
    }
}

/* @media(max-width: 440px){
    .resultsContainer{
        transform: translateY(-910px); 
    }
} */