.resultsContainer{
    margin-bottom: 60px;
}

.resultsContainer .carouselContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultsContainer .carouselContainer h3{
    margin: 25px 0;
}

.resultsContainer .carouselContainer span{
    color: var(--blink-main);
}