.articlesList{
    padding: 0 120px;
}

.articlesList .cssInput{
    border: 1px solid var(--gris-blink);
    border-radius: 12px;
    transition: .3s;
}

.articlesList h3{
    font-weight: 500;
    font-size: 33px;
    line-height: 114.5%;
    color: var(--blink-main);
}

.articlesList .filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articlesList .articles{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articlesList .articlesGrid{
    margin: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
}

.articlesList .articleItem{
    text-align: justify;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 20px;
    transition: .3s;
    overflow: hidden;
}

.articlesList .articleItem:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.articleItem .primaryButton a{
    padding: 8px 16px;
}

.articleItem .image{
    border: 12px;
}

.articlesList .articleItem img{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.articleItem .info{
    padding: 35px;
}

.articleItem .info .button{
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}

.articleItem .info button{
    font-size: 11.9728px;
    width: 100px;
    padding: 0;
}

.articleItem h4{
    font-weight: 500;
    font-size: 15.1076px;
    line-height: 114.5%;
    color: var(--blink-main);
}

.articleItem p{
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #484848;
    margin-top: 10px;
}

.articlesList .articlesPagination{
    padding: 30px 0;
}

.articleItem .secondaryButton a{
    padding: 10px 16px;
}