@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --blink-main: #4E29C8;
    --button-main: #30FF9C;
}

::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: var(--blink-main);
}

::-webkit-scrollbar{
	width: 12px;
	background-color: var(--blink-main);
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: var(--button-main);
}

.primaryButton{
    border: 2px solid var(--button-main);
    cursor: pointer;
    border-radius: 16px;
    background-color: var(--button-main);
    color: #5A00FE;
    padding: 18px 16px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}

.secondaryButton{
    border: 2px solid #5A00FE;
    cursor: pointer;
    border-radius: 16px;
    background-color: #5A00FE;
    color: #fff;
    padding: 18px 16px;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
}

.primaryButton a,
.secondaryButton a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
}

.bg1,
.bg2,
.bg3{
    position: absolute;
    margin: 0 auto;
    top: 0;
}

.bg1{
    z-index: 10;
}

.bg2{
    top: 52px;
    z-index: 20;
}

.bg3{
    top: 70px;
    z-index: 30;
}