.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 90px 0px 120px;
}

.sloganContainer h2,
.sloganContainer p{
    display: inline;
}

.sloganContainer{
    display: flex;
    flex-direction: column;
}

.sloganContainer h2{
    font-weight: 800;
    font-size: 93px;
    line-height: 98%;
    color: var(--blink-main);
}

.sloganContainer p{
    font-weight: 500;
    font-size: 23px;
    line-height: 114.5%;
    margin: 28px 0;
    color: #484848;
}

.banner .imageContainer{
    min-height: 500px;
}

.banner img{
    height: auto;
    width: auto;
    aspect-ratio: 10/9;
}

.banner button:hover{
    border: 2px solid var(--blink-main);
    background-color: var(--blink-main);
    color: var(--button-main);
}